<div *ngIf="loading" class="loading">
    Loading user...
  </div>
  
  <div *ngIf="user" class="profile-card">
  
    <!-- TOP BAR -->
    <div class="top-bar">
      <button class="back-btn" (click)="goBack()">← Back</button>
    </div>
  
    <img [src]="user.image" class="profile-img" />
  
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
  
    <p class="role">Occupation: {{ user.company?.title }}</p>
    <p class="role">Company: {{ user.company?.name }}</p>
  
    <div class="details">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Address:</strong> {{ user.address | address }}</p>
      <p><strong>Salary:</strong> {{ (user.id * 25000) | salary }}</p>
    </div>
  
  </div>